$md-white:#fff;
$md-black:#000;
$md-white-default:rgba(255,255,255,1);
$md-white-primary:rgba(255, 255, 255, 1);
$md-black-default:rgba(0, 0, 0, 0.87);
$md-black-primary:rgba(0, 0, 0, 0.87);
$md-black-secondary:rgba(0, 0, 0, 0.54);
$md-primary-opacity:0.87;
$md-secondary-opacity:0.54;
$md-hint-opacity:0.26;
$md-disabled-opacity:0.26;
$md-clear-opacity:0.12;
$md-divider-opacity:0.12;
$md-light-dark-primary-opacity:1;
$md-light-dark-secondary-opacity:0.7;
$md-light-dark-hint-opacity:0.3;
$md-light-dark-disabled-opacity:0.3;
$md-light-dark-divider-opacity:0.12;
$md-light-dark-clear-opacity:0.12;
$md-depth-0:none !important;
$md-depth-01:0 1px 1px rgba(0,0,0,.05);
$md-depth-02:0 2px 5px rgba(0,0,0,0.26);
$md-depth-05:0 1px 2px rgba(151, 151, 151, 0.58);
$md-depth-1:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
$md-depth-2:0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
$md-depth-3:0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
$md-depth-4:0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
$md-depth-5:0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);