@import "../variables";

/// Amber map
/// @access public
$MD-Amber: (
        value:#FFC107,
        element:$md-black-default,
        primary:(
                500:(
                        value:#FFC107,
                        element:$md-black-primary
                ),
                50:(
                        value:#FFF8E1,
                        element:$md-black-primary
                ),
                100:(
                        value:#FFECB3,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFE082,
                        element:$md-black-primary
                ),
                300:(
                        value:#FFD54F,
                        element:$md-black-primary
                ),
                400:(
                        value:#FFCA28,
                        element:$md-black-primary
                ),
                600:(
                        value:#FFB300,
                        element:$md-black-primary
                ),
                700:(
                        value:#FFA000,
                        element:$md-black-primary
                ),
                800:(
                        value:#FF8F00,
                        element:$md-black-primary
                ),
                900:(
                        value:#FF6F00,
                        element:$md-black-primary
                )
        ),
        accent:(
                100:(
                        value:#FFE57F,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFD740,
                        element:$md-black-primary
                ),
                400:(
                        value:#FFC400,
                        element:$md-black-primary
                ),
                700:(
                        value:#FFAB00,
                        element:$md-black-primary
                )
        )
);