@import "../variables";

/// Green map
/// @access public
$MD-Green: (
        value:#4CAF50,
        element:$md-black-default,
        primary:(
                500:(
                        value:#4CAF50,
                        element:$md-black-primary
                ),
                50:(
                        value:#E8F5E9,
                        element:$md-black-primary
                ),
                100:(
                        value:#C8E6C9,
                        element:$md-black-primary
                ),
                200:(
                        value:#A5D6A7,
                        element:$md-black-primary
                ),
                300:(
                        value:#81C784,
                        element:$md-black-primary
                ),
                400:(
                        value:#66BB6A,
                        element:$md-black-primary
                ),
                600:(
                        value:#43A047,
                        element:$md-white-primary
                ),
                700:(
                        value:#388E3C,
                        element:$md-white-primary
                ),
                800:(
                        value:#2E7D32,
                        element:$md-white-primary
                ),
                900:(
                        value:#1B5E20,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#B9F6CA,
                        element:$md-black-primary
                ),
                200:(
                        value:#69F0AE,
                        element:$md-black-primary
                ),
                400:(
                        value:#00E676,
                        element:$md-black-primary
                ),
                700:(
                        value:#00C853,
                        element:$md-black-primary
                )
        )
);