@import "../variables";

/// Indigo map
/// @access public
$MD-Indigo: (
        value:#3F51B5,
        element:$md-white-default,
        primary:(
                500:(
                        value:#3F51B5,
                        element:$md-white-primary
                ),
                50:(
                        value:#E8EAF6,
                        element:$md-black-primary
                ),
                100:(
                        value:#C5CAE9,
                        element:$md-black-primary
                ),
                200:(
                        value:#9FA8DA,
                        element:$md-black-primary
                ),
                300:(
                        value:#7986CB,
                        element:$md-white-primary
                ),
                400:(
                        value:#5C6BC0,
                        element:$md-white-primary
                ),
                600:(
                        value:#3949AB,
                        element:$md-white-primary
                ),
                700:(
                        value:#303F9F,
                        element:$md-white-primary
                ),
                800:(
                        value:#283593,
                        element:$md-white-primary
                ),
                900:(
                        value:#1A237E,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#8C9EFF,
                        element:$md-black-primary
                ),
                200:(
                        value:#536DFE,
                        element:$md-white-primary
                ),
                400:(
                        value:#3D5AFE,
                        element:$md-white-primary
                ),
                700:(
                        value:#304FFE,
                        element:$md-white-primary
                )
        )
);