@import "../variables";

/// Light Blue map
/// @access public
$MD-Light-Blue: (
        value:#03A9F4,
        element:$md-black-default,
        primary:(
                500:(
                        value:#03A9F4,
                        element:$md-black-primary
                ),
                50:(
                        value:#E1F5FE,
                        element:$md-black-primary
                ),
                100:(
                        value:#B3E5FC,
                        element:$md-black-primary
                ),
                200:(
                        value:#81D4FA,
                        element:$md-black-primary
                ),
                300:(
                        value:#4FC3F7,
                        element:$md-black-primary
                ),
                400:(
                        value:#29B6F6,
                        element:$md-black-primary
                ),
                600:(
                        value:#039BE5,
                        element:$md-white-primary
                ),
                700:(
                        value:#0288D1,
                        element:$md-white-primary
                ),
                800:(
                        value:#0277BD,
                        element:$md-white-primary
                ),
                900:(
                        value:#01579B,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#80D8FF,
                        element:$md-black-primary
                ),
                200:(
                        value:#40C4FF,
                        element:$md-black-primary
                ),
                400:(
                        value:#00B0FF,
                        element:$md-black-primary
                ),
                700:(
                        value:#0091EA,
                        element:$md-white-primary
                )
        )
);