@import "../variables";

/// Orange map
/// @access public
$MD-Orange: (
        value:#FF9800,
        element:$md-black-default,
        primary:(
                500:(
                        value:#FF9800,
                        element:$md-black-primary
                ),
                50:(
                        value:#FFF3E0,
                        element:$md-black-primary
                ),
                100:(
                        value:#FFE0B2,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFCC80,
                        element:$md-black-primary
                ),
                300:(
                        value:#FFB74D,
                        element:$md-black-primary
                ),
                400:(
                        value:#FFA726,
                        element:$md-black-primary
                ),
                600:(
                        value:#FB8C00,
                        element:$md-black-primary
                ),
                700:(
                        value:#F57C00,
                        element:$md-black-primary
                ),
                800:(
                        value:#EF6C00,
                        element:$md-white-primary
                ),
                900:(
                        value:#E65100,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#FFD180,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFAB40,
                        element:$md-black-primary
                ),
                400:(
                        value:#FF9100,
                        element:$md-black-primary
                ),
                700:(
                        value:#FF6D00,
                        element:$md-black-primary
                )
        )
);