@import "../variables";

/// Pink map
/// @access public
$MD-Pink: (
        value:#E91E63,
        element:$md-white-default,
        primary:(
                500:(
                        value:#E91E63,
                        element:$md-white-primary
                ),
                50:(
                        value:#FCE4EC,
                        element:$md-black-primary
                ),
                100:(
                        value:#F8BBD0,
                        element:$md-black-primary
                ),
                200:(
                        value:#F48FB1,
                        element:$md-black-primary
                ),
                300:(
                        value:#F06292,
                        element:$md-white-primary
                ),
                400:(
                        value:#EC407A,
                        element:$md-white-primary
                ),
                600:(
                        value:#D81B60,
                        element:$md-white-primary
                ),
                700:(
                        value:#C2185B,
                        element:$md-white-primary
                ),
                800:(
                        value:#AD1457,
                        element:$md-white-primary
                ),
                900:(
                        value:#880E4F,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#FF80AB,
                        element:$md-black-primary
                ),
                200:(
                        value:#FF4081,
                        element:$md-white-primary
                ),
                400:(
                        value:#F50057,
                        element:$md-white-primary
                ),
                700:(
                        value:#C51162,
                        element:$md-white-primary
                )
        )
);