@import "../variables";

/// Purple map
/// @access public
$MD-Purple: (
        value:#9C27B0,
        element:$md-white-default,
        primary:(
                500:(
                        value:#9C27B0,
                        element:$md-white-primary
                ),
                50:(
                        value:#F3E5F5,
                        element:$md-black-primary
                ),
                100:(
                        value:#E1BEE7,
                        element:$md-black-primary
                ),
                200:(
                        value:#CE93D8,
                        element:$md-black-primary
                ),
                300:(
                        value:#BA68C8,
                        element:$md-white-primary
                ),
                400:(
                        value:#AB47BC,
                        element:$md-white-primary
                ),
                600:(
                        value:#8E24AA,
                        element:$md-white-primary
                ),
                700:(
                        value:#7B1FA2,
                        element:$md-white-primary
                ),
                800:(
                        value:#6A1B9A,
                        element:$md-white-primary
                ),
                900:(
                        value:#4A148C,
                        element:$md-white-primary
                )
        ),
        accent:(
                100:(
                        value:#EA80FC,
                        element:$md-black-primary
                ),
                200:(
                        value:#E040FB,
                        element:$md-white-primary
                ),
                400:(
                        value:#D500F9,
                        element:$md-white-primary
                ),
                700:(
                        value:#AA00FF,
                        element:$md-white-primary
                )
        )
);