@import "../variables";

/// Yellow map
/// @access public
$MD-Yellow: (
        value:#FFEB3B,
        element:$md-black-default,
        primary:(
                500:(
                        value:#FFEB3B,
                        element:$md-black-primary
                ),
                50:(
                        value:#FFFDE7,
                        element:$md-black-primary
                ),
                100:(
                        value:#FFF9C4,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFF59D,
                        element:$md-black-primary
                ),
                300:(
                        value:#FFF176,
                        element:$md-black-primary
                ),
                400:(
                        value:#FFEE58,
                        element:$md-black-primary
                ),
                600:(
                        value:#FDD835,
                        element:$md-black-primary
                ),
                700:(
                        value:#FBC02D,
                        element:$md-black-primary
                ),
                800:(
                        value:#F9A825,
                        element:$md-black-primary
                ),
                900:(
                        value:#F57F17,
                        element:$md-black-primary
                )
        ),
        accent:(
                100:(
                        value:#FFFF8D,
                        element:$md-black-primary
                ),
                200:(
                        value:#FFFF00,
                        element:$md-black-primary
                ),
                400:(
                        value:#FFEA00,
                        element:$md-black-primary
                ),
                700:(
                        value:#FFD600,
                        element:$md-black-primary
                )
        )
);