@import "variables";
@import "colors/amber";
@import "colors/black";
@import "colors/blue";
@import "colors/blue-grey";
@import "colors/brown";
@import "colors/cyan";
@import "colors/deep-orange";
@import "colors/deep-purple";
@import "colors/green";
@import "colors/grey";
@import "colors/indigo";
@import "colors/light-blue";
@import "colors/light-green";
@import "colors/lime";
@import "colors/orange";
@import "colors/pink";
@import "colors/purple";
@import "colors/red";
@import "colors/teal";
@import "colors/white";
@import "colors/yellow";